.main-div{
    margin-top: 20px;
}

.inner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    margin: 5px;
}

.delete{
    background-color: red;
    cursor: pointer;
    font-size: 18px;
    padding: 5px;
    border: none;
    margin-right: 5px;
}
.edit{
    background-color: rgb(28, 255, 28);
    cursor: pointer;
    font-size: 18px;
    padding: 5px;
    border: none;
}

.para{
    text-align: center;
}